.bg-pinki {
  background-color: var(--color-background-tag);
}

.bg-verde {
  background-color: var(--color-background-pill);
}

.title-recipes {
  background-color: var(--color-background-pill);
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-hover-effect {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.dark-mode .bg-pinki {
  background-color: var(--color-background-tag);
}

.dark-mode .bg-verde {
  background-color: var(--color-background-pill);
}

.dark-mode .title-recipes {
  background-color: var(--color-background-pill);
  color: var(--color-text-main);
}

.card-efect:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 0 15px 5px #ccd5ae;
}

.card-admin-custom {
  transition: transform 0.3s ease;
  border-radius: 15px !important;
  background-color: #ffffff !important;
}

.icon-dashboard {
  height: 100px;
  object-fit: contain;
  margin-top: 10px;
}

.status-published {
  border-left: 8px solid #28a745 !important; 
}

.status-pending {
  border-left: 8px solid #ffc107 !important; 
}

.status-rejected {
  border-left: 8px solid #dc3545 !important; 
}


.card-efect:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}
