.format-image {
  width: 100%;
  height: 200px;
  object-fit: "cover";
}

.bg-pink {
  background-color: #e9edc9;
}

.published {
  background-color: #fefae0;
}

.title-rl {
  background-color: #E9EDC9;
}

.image-container-fixed {
  height: 200px;
  overflow: hidden;
}

